#secForm{
    background-color: #fff;
    margin-top: 40px;
}
#secForm .container{
    position: relative;
    background-color: aqua;
}
.stTitle{
    text-align: center;
}

/* show span  */
.showSpansetor #setor+span, .showSpancod #cod+span,
.showSpanempName #empName+span, .showSpanultBal #ultBal+span,
.showSpancot #cot+span, .showSpanroic #roic+span,
.showSpancresres #cresres+span, .showSpandYield #dYield+span,
.showSpannAcoes #nAcoes+span, .showSpandivB #divB+span,
.showSpandisp #disp+span, .showSpanativC #ativC+span,
.showSpanativ #ativ+span, .showSpanpatLiq #patLiq+span,
.showSpanrecL12 #recL12+span, .showSpanebit12 #ebit12+span,
.showSpanlucLiq12 #lucLiq12+span, .showSpanrecL3 #recL3+span{
    display: inline;
}
form[name='up']{
    max-width: fit-content;
}

#secForm .inform{
    background-color: forestgreen;
    position: absolute;
    right: 0%;
    top: 10%;
    left: 30%;
    bottom: 0;
}